<?xml version="1.0"?>
<configuration>
    <property>
        <name>yarn.nodemanager.aux-services</name>
        <value>mapreduce_shuffle</value>
        <description>Yarn Node Manager Aux Service</description>
    </property>
    <property>
        <name>yarn.resourcemanager.hostname</name>
        <value>{{ inventory_hostname }}</value>
    </property>
</configuration>